$theme:#16a085;
$color:#2c3e50;
.topbar{
    height: 50px;
    background-color: $theme;
   
    button{
        outline: none;
        border:none;
        border: 1px solid white;
        &:hover{
            border: 1px solid white;
            background-color: $theme;
            color: white;
        }
       
    }
}