$theme: #16a085;
$color: #2c3e50;
$shadow: 0px 1.2px 4px .1px rgb(175, 175, 175);
.createFolder {
    outline: none;
    color: $color;
    box-shadow:$shadow;
    &:active {
        background-color: $theme;
        color: white;
    }

}
.folderinput{
    &::placeholder{
        color: rgb(182, 179, 179);
    }
}